.hn-navbar {
    background-color: #ff6600;
}
.jobentry, .searchform {
    box-shadow: 0px 2px 5px #eeeeee;
    margin-top: 1em;
}
.jobentry > .jobentry-header {
    background-color: #f6f6ef;
}
footer {
    margin: 2em;
}